.yellow {
  background: #FDB900;
}

.blue {
  background: #77C8DF;
}

.green {
  background: #55C860;
}

.redopacity {
  background: #DE6967;
}

.red {
  background: #DC3532;
}

.purple {
  background: #9E85E2;
}

.orange {
  background: #F89462;
}

.defaultColor {
  background: #EF6722;
}

.pink {
  background: #DB8EAD;
}

.yellow_color {
  color: #FDB900;
}

.blue_color {
  color: #77C8DF;
}

.green {
  color: #55C860;
}

.redopacity_color {
  color: #DE6967;
}

.red_color {
  color: #DC3532;
}

.purple_color {
  color: #9E85E2;
}

.orange_color {
  color: #F89462;
}

.pink_color {
  color: #DB8EAD;
}

.white_color {
  color: white !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-14 {
  font-size: 14px !important;
}

.silver {
  background: #EBECED;
  color: #898A8C !important;
}

.silver.open {
  background: #F9EDE7;
  color: #F89462 !important;
}

.silver_color {
  color: #898A8C !important;
}

html {
  height: 100%;
}

body,
html {
  background-color: #f5f6f7;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  position: relative;
  font-family: Metropolis;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../../fonts/Metropolis-Regular.eot");
  src: url("../../fonts/Metropolis-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Metropolis-Regular.woff2") format("woff2"), url("../../fonts/Metropolis-Regular.woff") format("woff"), url("../../fonts/Metropolis-Regular.svg#Metropolis-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222d43;
  padding: 0;
  margin: 0;
}

p,
blockquote,
pre,
span,
strong,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  color: #333;
  padding: 0;
  margin: 0;
}

img {
  -webkit-user-drag: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

strong.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

strong img {
  width: 18px;
  margin-right: 10px;
}

button {
  outline: none;
}

input,
select {
  color: #999999;
}

a {
  color: #222d43;
  cursor: pointer;
  text-decoration: none;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.vh-centered {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.v-centered {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
}

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

.eff01 {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.eff02 {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.eff03 {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.eff04 {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.eff05 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.eff06 {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.eff07 {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.eff08 {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.eff0 {
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.eff1 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.inner-wrap {
  position: relative;
  max-width: 1200px;
  width: calc( 100% - 32px);
  margin: 0 auto;
}

.col-25 {
  float: left;
  width: calc( 25% - 12px);
  margin-right: 16px;
  margin-bottom: 16px;
}

.col-25:nth-child(4n+4) {
  margin-right: 0 !important;
}

.col-30 {
  float: left;
  width: calc( 33.3% - 16px);
  margin-right: 24px;
}

.col-30:nth-child(3n+3) {
  margin-right: 0 !important;
}

.col-50 {
  float: left;
  width: calc( 50% - 8px);
  margin-right: 16px;
  margin-bottom: 8px;
}

.col-50:nth-child(2n+2) {
  margin-right: 0 !important;
}

.col-60 {
  float: left;
  width: calc( 60% - 32px);
  margin-right: 32px !important;
}

.col-40 {
  float: left;
  width: calc( 40% - 0px);
}

.col-75 {
  float: left;
  width: calc( 75% - 8px);
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.hidden-b {
  overflow: hidden;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000009;
}

.loading-overlay .loading-icon-wrap {
  width: 200px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFF;
}

.loading-overlay .loading-icon-wrap img {
  width: 100%;
}

strong.pending {
  color: #F9AC12;
  font-size: 13px;
}

strong.pending:before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #F9AC12;
}

strong.active {
  color: #6CC93E;
  font-size: 13px;
}

strong.active:before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #6CC93E;
}

.select-wrap {
  margin-bottom: 0;
  position: relative;
  background: #fff;
  border: 1px solid #D9DADB;
  border-radius: 4px;
  position: relative;
}

.select-wrap.blue_icon img {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 18px;
}

.select-wrap.blue_icon select {
  padding: 12px 36px 12px 44px;
}

.select-wrap > label {
  position: absolute;
  top: -22px;
  left: 0;
  font-size: 14px;
  color: #404144;
}

.select-wrap > i {
  position: absolute;
  font-size: 16px;
  color: #404144;
  right: 16px;
  top: calc(50% - 12px);
}

.select-wrap select {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  border: 0;
  outline: 0;
  color: #404144;
  position: relative;
  z-index: 1;
  background: none;
  padding: 12px 36px 12px 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.back_button {
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  color: #898A8C;
  cursor: pointer;
  margin-bottom: 32px;
}

.back_button i {
  margin-right: 14px;
}

.main_title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.drop-t-open.open .dropdown-wrap {
  opacity: 1;
  visibility: visible;
  margin-top: 4px;
}

.dropdown-wrap {
  position: absolute;
  top: 100%;
  left: 0px;
  right: inherit;
  opacity: 0;
  visibility: hidden;
  margin-top: 12px;
  z-index: 1;
  text-align: left;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 24px rgba(107, 108, 111, 0.16), 0px 0px 2px rgba(107, 108, 111, 0.24);
          box-shadow: 0px 6px 24px rgba(107, 108, 111, 0.16), 0px 0px 2px rgba(107, 108, 111, 0.24);
  border-radius: 4px;
  cursor: auto;
}

.dropdown-wrap > i {
  position: absolute;
  font-size: 32px;
  z-index: 1;
  top: -18px;
  right: 16px;
  color: white;
}

.dropdown-wrap .dropdown-m {
  display: block;
  list-style: none;
}

.dropdown-wrap .dropdown-m li {
  color: #616161;
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
  text-transform: capitalize;
  padding: 2px 0;
}

.dropdown-wrap .dropdown-m li a {
  display: block;
  position: relative;
  z-index: 1;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 13px;
  color: #6B6C6F;
}

.filter_drop .dropdown-m {
  padding: 4px 0;
}

.filter_drop .dropdown-m li {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 8px;
  padding-left: 12px;
}

.filter_drop .dropdown-m li:before {
  margin-right: 8px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  color: #C5C6C7;
}

.filter_drop .dropdown-m li:hover, .filter_drop .dropdown-m li.checked {
  color: #6CC93E;
}

.filter_drop .dropdown-m li:hover:before, .filter_drop .dropdown-m li.checked:before {
  color: #6CC93E;
}

.filter_drop .dropdown-m li a {
  padding: 6px;
  border-radius: 4px;
}

.peoples_drop .dropdown-wrap {
  width: 300px;
  padding-bottom: 12px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.peoples_drop .dropdown-wrap ::-webkit-scrollbar {
  width: 6px;
}

.peoples_drop .dropdown-wrap ::-webkit-scrollbar-track {
  background: #fff;
}

.peoples_drop .dropdown-wrap ::-webkit-scrollbar-thumb {
  background: #dcdcdd;
  border-radius: 3px;
}

.peoples_drop .dropdown-wrap ::-webkit-scrollbar-thumb:hover {
  background: #aeaeae;
}

.peoples_drop .dropdown-wrap .input-wrap {
  margin: 8px;
  background: white;
  border: 1px solid #d9dadb;
  border-radius: 4px;
  position: relative;
}

.peoples_drop .dropdown-wrap .input-wrap label {
  font-size: 14px;
  line-height: 14px;
  color: #404144;
}

.peoples_drop .dropdown-wrap .input-wrap input {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  padding: 12px;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  border: 0;
}

.peoples_drop .dropdown-wrap .dropdown-m {
  max-height: 200px;
  overflow: auto;
  margin-right: 8px;
}

.peoples_drop .dropdown-wrap .dropdown-m li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.peoples_drop .dropdown-wrap .dropdown-m li a:hover {
  color: #F89462;
}

.peoples_drop .dropdown-wrap .dropdown-m li a .users-img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  margin-top: 0;
}

.input-wrap {
  background: #fff;
  border: 1px solid #D9DADB;
  border-radius: 4px;
  position: relative;
}

.input-wrap.pl_36 input {
  padding-left: 36px;
}

.input-wrap img {
  width: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10px;
}

.input-wrap input {
  width: 100%;
  background: transparent;
  padding: 12px;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  border: 0;
}

.input-wrap label {
  position: absolute;
  top: -22px;
  left: 0;
  font-size: 14px;
  color: #404144;
}

.tasks_addNewList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tasks_addNewList .input-wrap {
  width: 100%;
}

.tasks_addNewList .select-wrap {
  margin-left: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
}

.tasks_addNewList button {
  margin-left: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

.newNav {
  position: relative;
  height: 72px;
  background: #ef6722;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newNav .logo img {
  width: 150px;
}

.newNav .hide_menu {
  margin-left: 32px;
  cursor: pointer;
}

.newNav .menu {
  padding-right: 16px;
}

.newNav .menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newNav .menu > ul > li {
  position: relative;
  list-style: none;
  margin: 0 16px;
  cursor: pointer;
}

.newNav .menu > ul > li:last-child {
  margin: 0;
  padding-left: 32px;
  margin-left: 16px;
}

.newNav .menu > ul > li.logoutDropDown {
  border-left: solid 1px #fff;
}

.newNav .menu > ul > li.logoutDropDown::after {
  display: inline-block;
  margin-left: 6px;
  vertical-align: 2px;
  content: "";
  border-top: .3em solid;
  border-right: 0.3em solid rgba(0, 0, 0, 0);
  border-bottom: 0;
  border-left: 0.3em solid rgba(0, 0, 0, 0);
  color: #fff;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.newNav .menu > ul > li.logoutDropDown .dropdown-wrap {
  min-width: 140px;
  margin-top: 24px;
  right: 0;
  left: inherit;
}

.newNav .menu > ul > li.logoutDropDown .dropdown-wrap li {
  font-size: 14px;
}

.newNav .menu > ul > li.logoutDropDown .dropdown-wrap li a {
  padding: 8px 12px;
}

.newNav .menu > ul > li.logoutDropDown.open .dropdown-wrap {
  margin-top: 16px;
}

.newNav .menu > ul > li.logoutDropDown.open::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.newNav .menu > ul > li > span {
  position: absolute;
  top: -6px;
  right: -8px;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
  padding-top: 32px;
  background-color: #FFF;
}

.sidebar.sidebar_small {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 72px;
          flex: 0 0 72px;
}

.sidebar.sidebar_small span {
  display: none;
}

.newSidebar li {
  width: 100%;
}

.newSidebar li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  text-decoration: none;
  line-height: 14px;
  color: #6B6C6F;
  padding: 12px 12px 12px 20px;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-left: 5px solid transparent;
}

.newSidebar li a.active, .newSidebar li a:hover {
  background: #F9EDE7;
  border-left: 5px solid #ef6722;
}

.newSidebar li a.active svg path, .newSidebar li a:hover svg path {
  fill: #ef6722;
}

.newSidebar li a svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  margin-right: 14px;
}

.newSidebar li a span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 138px;
          flex: 0 0 138px;
}

.hire-dashboard {
  padding: 36px 32px;
  background-color: #f5f6f7;
  width: 100%;
}

.hire-dashboard.allprojects_showall .filters {
  margin: 0;
  padding: 0;
}

.hire-dashboard.allprojects_showall .filters .search {
  width: 100%;
}

.hire-dashboard.allprojects_showall .panel {
  margin-top: 36px;
  font-size: 14px;
}

.hire-dashboard.allprojects_showall .panel .panel-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hire-dashboard.allprojects_showall .panel .panel-heading .title {
  font-size: 18px;
  color: #222426;
}

.hire-dashboard.allprojects_showall .panel .panel-heading .title span {
  color: #898A8C;
  margin-left: 6px;
}

.hire-dashboard.allprojects_showall .panel .panel-heading .sort-by {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hire-dashboard.allprojects_showall .panel .panel-heading .sort-by label {
  margin: 0;
  font-size: 14px;
  color: #898A8C;
}

.hire-dashboard.allprojects_showall .panel .panel-heading .sort-by .select-wrap {
  border: 0;
  background: transparent;
}

.hire-dashboard.allprojects_showall .panel .panel-heading .sort-by .select-wrap select {
  font-size: 14px;
  padding: 6px 34px 6px 6px;
  color: #222426;
  font-weight: 600;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data {
  margin-top: 12px;
  padding: 0 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 2px rgba(137, 138, 140, 0.2);
          box-shadow: 0px 0px 2px rgba(137, 138, 140, 0.2);
  border-radius: 6px;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .block {
  border-bottom: 1px solid #EBECED;
  padding: 16px 0;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .block:last-child {
  border: 0;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .block.border-r {
  padding: 0;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .block.border-r .user_info {
  border-right: 1px solid #EBECED;
  padding-top: 16px;
  padding-bottom: 16px;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .block .see_activity {
  background: #F9EDE7;
  color: #EF6722;
  border-radius: 4px;
  padding: 8px 10px;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .block strong span {
  color: #fff;
  background: #236EE8;
  padding: 3px 6px;
  margin-left: 6px;
  border-radius: 4px;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .block .view_all {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-left: 6px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #EF6722;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .block .add {
  font-weight: 600;
  font-size: 13px;
  line-height: 12px;
  margin-left: 6px;
  color: #EF6722;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .block .add.addDeveloper {
  position: relative;
  cursor: pointer;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .title {
  font-size: 16px;
  color: #222426;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .toolsDropDown {
  position: relative;
  margin-left: 32px;
  width: 20px;
  cursor: pointer;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .toolsDropDown:hover > span span, .hire-dashboard.allprojects_showall .panel .content-pending .hire-data .toolsDropDown.open > span span {
  background: #ef6722;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .toolsDropDown .dropdown-wrap {
  left: inherit;
  right: 0;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .toolsDropDown .dropdown-wrap li {
  padding: 6px 0;
}

.hire-dashboard.allprojects_showall .panel .content-pending .hire-data .toolsDropDown > span span {
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #A7A8AA;
  border-radius: 50%;
  display: block;
}

.hire-dashboard h1.title {
  font-size: 28px;
  font-weight: 600;
  color: #222426;
}

.hire-dashboard .users-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hire-dashboard .users-img .img {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 6px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fadbae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hire-dashboard .users-img .img:hover .remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hire-dashboard .users-img .img:hover span.name {
  opacity: 1;
  visibility: visible;
  margin-top: 4px;
}

.hire-dashboard .users-img .img.plus {
  background: #EBECED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.hire-dashboard .users-img .img.plus:hover, .hire-dashboard .users-img .img.plus.open {
  background: #F9EDE7;
}

.hire-dashboard .users-img .img.plus:hover i, .hire-dashboard .users-img .img.plus.open i {
  color: #F89462;
}

.hire-dashboard .users-img .img.plus img {
  width: 10px;
}

.hire-dashboard .users-img .img.plus i {
  color: #898A8C;
  font-size: 10px;
}

.hire-dashboard .users-img .img .remove {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 86, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.hire-dashboard .users-img .img .remove img {
  width: 10px;
}

.hire-dashboard .users-img .img > span {
  color: #dc8c13;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
}

.hire-dashboard .users-img .img > span.name {
  border-radius: 4px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 24px rgba(107, 108, 111, 0.16), 0px 0px 2px rgba(107, 108, 111, 0.24);
          box-shadow: 0px 6px 24px rgba(107, 108, 111, 0.16), 0px 0px 2px rgba(107, 108, 111, 0.24);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #404144;
  white-space: nowrap;
  padding: 12px 14px;
  line-height: normal;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 100%;
  position: absolute;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  margin-top: 8px;
}

.hire-dashboard button {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 9px;
  padding: 6px;
  margin-right: 6px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  border: 0;
}

.hire-dashboard button img {
  margin-right: 2px;
  width: 10px;
}

.hire-dashboard button:hover {
  color: #fff;
}

.hire-dashboard .filters {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hire-dashboard .filters .search {
  padding: 0;
}

.hire-dashboard .filters .search .select2-selection__arrow {
  display: none !important;
}

.hire-dashboard .filters .search .select2-selection__clear {
  width: 16px;
  height: 16px;
  color: #fff;
  font-size: 16px;
  background: #C5C6C7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: -10px;
}

.hire-dashboard .filters .search .input-wrap img {
  z-index: 1;
}

.hire-dashboard .filters .search .input-wrap * {
  border-color: transparent;
  outline: none;
}

.hire-dashboard .filters .search select {
  width: 100%;
}

.hire-dashboard .filters .search .select2 {
  padding: 4px 0px 4px 26px;
}

.hire-dashboard .filters .btn {
  background: #FFFFFF;
  color: #404144;
  margin-right: 12px;
  -webkit-box-shadow: 0px 0px 2px rgba(137, 138, 140, 0.2);
          box-shadow: 0px 0px 2px rgba(137, 138, 140, 0.2);
  border-radius: 4px;
  padding: 0 11px;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  border: 1px solid transparent;
  overflow: initial;
}

.hire-dashboard .filters .btn.clear {
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  background: transparent;
  color: #A7A8AA;
  border: 0 !important;
}

.hire-dashboard .filters .btn:hover, .hire-dashboard .filters .btn.open {
  border: 1px solid #EF6722;
  color: #EF6722;
}

.hire-dashboard .filters .btn:hover svg path, .hire-dashboard .filters .btn.open svg path {
  fill: #ef6722;
}

.hire-dashboard .filters .btn svg {
  margin-right: 8px;
}

.hire-dashboard .filters_results {
  margin: 12px 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hire-dashboard .filters_results .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hire-dashboard .filters_results .items button {
  padding: 6px 20px 6px 6px;
}

.hire-dashboard .filters_results .items button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 4px 4px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
  height: 100%;
  margin: 0;
}

.hire-dashboard .filters_results .items button span img {
  width: 8px;
}

.hire-dashboard .filters_results .items button.purple span {
  background: #917ad0;
}

.hire-dashboard .filters_results .items button.blue span {
  background: #6db8cd;
}

.hire-dashboard .filters_results .items button.green span {
  background: #4eb858;
}

.admin-hire {
  font-size: 13px;
}

.admin-hire .hire-data {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 2px rgba(137, 138, 140, 0.2);
          box-shadow: 0px 0px 2px rgba(137, 138, 140, 0.2);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 12px;
  padding: 0 16px;
}

.admin-hire .hire-data .row {
  padding: 5px 0;
}

.admin-hire .hire-data .row .user_info {
  margin: 0;
}

.admin-hire .hire-data .left-wrap {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-right: 16px;
  border-right: solid 1px #EBECED;
}

.admin-hire .hire-data .block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  border-bottom: 1px solid #EBECED;
  padding: 5px 0;
}

.admin-hire .hire-data .block:last-child {
  border: 0;
}

.admin-hire .hire-data .block .edit_hide_delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.admin-hire .hire-data .block .edit_hide_delete span {
  margin-right: 16px;
}

.admin-hire .hire-data .block .edit_hide_delete .btn {
  color: #EF6722;
  text-transform: capitalize;
  font-size: 13px;
  position: relative;
  padding: 0;
  margin-left: 24px;
  outline: none;
}

.admin-hire .hire-data .block .edit_hide_delete .btn:last-child::after {
  display: none;
}

.admin-hire .hire-data .block .edit_hide_delete .btn::after {
  content: "";
  width: 4px;
  height: 4px;
  margin: 4px;
  position: absolute;
  right: -23px;
  top: -2px;
  border-radius: 50%;
  background: #EF6722;
}

.admin-hire .hire-data .block .sortable-wrap {
  margin-top: 8px;
}

.admin-hire .hire-data .block .sortable-wrap ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.admin-hire .hire-data .block .sortable-wrap ul li .sort_icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  cursor: pointer;
  padding: 2px 4px;
}

.admin-hire .hire-data .block .sortable-wrap ul li .sort_icon:hover span {
  background: #EF6722;
}

.admin-hire .hire-data .block .sortable-wrap ul li .sort_icon span {
  display: block;
  height: 1px;
  background: #C5C6C7;
  margin-bottom: 2px;
}

.admin-hire .hire-data .block .sortable-wrap ul li .checkbox {
  margin-left: 8px;
  margin-right: 10px;
}

.admin-hire .hire-data .block .sortable-wrap ul li .checkbox input[type="checkbox"] + .label-text:before {
  width: 20px;
  height: 20px;
}

.admin-hire .hire-data .block .sortable-wrap ul li > span {
  font-size: 14px;
  color: #404144;
  font-weight: 600;
}

.admin-hire .hire-data .block .sortable-wrap ul li > span span {
  color: #fff;
  background: #236EE8;
  padding: 3px 6px;
  margin-left: 6px;
  border-radius: 4px;
}

.admin-hire .hire-data .block .sortable-wrap ul li .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-hire .hire-data .block .sortable-wrap ul li .icons div {
  margin-left: 16px;
  cursor: pointer;
}

.admin-hire .hire-data .right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px 16px 0;
}

.admin-hire .hire-data .right-wrap .not_info {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.admin-hire .hire-data .right-wrap .not_info > .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin-hire .hire-data .right-wrap .not_info > .title h1 {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: #222426;
}

.admin-hire .hire-data .right-wrap .not_info > .title .view a {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #EF6722;
}

.admin-hire .hire-data .right-wrap .not_info ::-webkit-scrollbar {
  width: 6px;
}

.admin-hire .hire-data .right-wrap .not_info ::-webkit-scrollbar-track {
  background: #fff;
}

.admin-hire .hire-data .right-wrap .not_info ::-webkit-scrollbar-thumb {
  background: #dcdcdd;
  border-radius: 3px;
}

.admin-hire .hire-data .right-wrap .not_info ::-webkit-scrollbar-thumb:hover {
  background: #aeaeae;
}

.admin-hire .hire-data .right-wrap .not_info .notes-wrap {
  max-height: 144px;
  margin-top: 16px;
  overflow: auto;
  width: calc( 100% + 10px);
  padding-right: 8px;
}

.admin-hire .hire-data .right-wrap .not_info .notes-wrap .notes:nth-child(1) {
  margin-top: 0;
}

.admin-hire .hire-data .add_note {
  width: calc( 100% + 32px);
  margin-left: -16px;
  margin-top: 20px;
  border-top: solid 1px #EBECED;
}

.admin-hire .hire-data .add_note .input-wrap {
  border: 0;
}

.admin-hire .hire-data .add_note .input-wrap input {
  padding: 10px 16px;
  border: 0;
  width: 100%;
  outline: none;
  font-weight: 500;
  font-size: 12px;
  color: #A7A8AA;
}

.admin-hire .hire-data .add_note .add_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12;
}

.admin-hire .hire-data .add_note .add_wrap .btn {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #898A8C;
  background: #F5F6F7;
  border-radius: 10px;
}

.admin-hire .hire-data .add_note .add_wrap .add {
  cursor: pointer;
}

.admin-hire .hire-data .add_note .add_wrap .add img {
  width: 18px;
}

.admin-hire .user_info.activity {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-hire .user_info.activity span {
  margin: 0;
  display: block;
}

.admin-hire .user_info.activity .img {
  margin-right: 10px;
}

.admin-hire .user_info.activity .img img {
  max-width: 16px;
}

.admin-hire .user_info.activity strong.true {
  color: #EF6722;
  text-decoration: underline;
}

.admin-hire .user_info.activity .users-img {
  margin-top: 8px;
}

.admin-hire .user_info.activity .users-img .img {
  margin-right: 6px;
}

.admin-hire .user_info.to-dos .text-secondary {
  margin-bottom: 8px;
}

.admin-hire .user_info.to-dos strong {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.admin-hire .user_info > .text-secondary {
  color: #898A8C !important;
  margin-right: 4px;
}

.admin-hire .user_info .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.admin-hire .user_info .icons > div {
  margin-left: 20px;
}

.admin-hire .user_info .icons > div img {
  cursor: pointer;
}

.admin-hire .user_info .icons a {
  display: block;
  padding-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #EF6722;
}

.admin-hire .user_info .icons a img {
  width: 8px;
  margin-right: 4px;
}

.notes {
  margin-top: 16px;
}

.notes .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notes .title .name_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notes .title .name_date .name {
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  margin-right: 6px;
}

.notes .title .name_date .date {
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #A7A8AA;
}

.notes .title .important {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notes .title .important span {
  margin-right: 6px;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #A7A8AA;
}

.notes .title .important h1 {
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #DC3532;
}

.notes .text {
  margin-top: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #222426;
}

.checkbox {
  cursor: pointer;
  margin: 0;
}

.checkbox input[type="checkbox"] + .label-text:hover:before {
  border: solid 1px #EF6722;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox input[type="checkbox"] + .label-text:before {
  content: "";
  color: #D9DADB;
  line-height: 1;
  border: solid 1px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox input[type="checkbox"]:checked + .label-text:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  background: #EF6722;
  color: #fff;
}

.TaskInnerPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.TaskInnerPage .left-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 12px rgba(137, 138, 140, 0.1);
          box-shadow: 0px 2px 12px rgba(137, 138, 140, 0.1);
  border-radius: 6px;
}

.TaskInnerPage .left-wrap .top_wrap {
  padding: 24px;
  border-bottom: 1px solid #EBECED;
}

.TaskInnerPage .left-wrap .top_wrap h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #222426;
}

.TaskInnerPage .left-wrap .top_wrap span {
  display: block;
  margin-top: 12px;
  font-size: 13px;
  line-height: 12px;
  color: #6B6C6F;
}

.TaskInnerPage .left-wrap .top_wrap .date_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.TaskInnerPage .left-wrap .top_wrap .date_checkbox .date {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #404144;
}

.TaskInnerPage .left-wrap .top_wrap .date_checkbox .checkbox {
  margin-left: 114px;
}

.TaskInnerPage .left-wrap .top_wrap .date_checkbox .checkbox input[type="checkbox"] + .label-text:before {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.TaskInnerPage .left-wrap .top_wrap .date_checkbox .checkbox span {
  margin-top: 0;
  font-size: 14px;
  line-height: 14px;
  color: #EF6722;
}

.TaskInnerPage .left-wrap .message_wrap {
  padding: 24px 10px 24px 24px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.TaskInnerPage .left-wrap .message_wrap ::-webkit-scrollbar {
  width: 6px;
}

.TaskInnerPage .left-wrap .message_wrap ::-webkit-scrollbar-track {
  background: #fff;
}

.TaskInnerPage .left-wrap .message_wrap ::-webkit-scrollbar-thumb {
  background: #dcdcdd;
  border-radius: 3px;
}

.TaskInnerPage .left-wrap .message_wrap ::-webkit-scrollbar-thumb:hover {
  background: #aeaeae;
}

.TaskInnerPage .left-wrap .message_wrap .comments {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #222426;
}

.TaskInnerPage .left-wrap .message_wrap .comments span {
  color: #fff;
  background: #236EE8;
  padding: 3px 6px;
  margin-left: 6px;
  border-radius: 4px;
}

.TaskInnerPage .left-wrap .message_wrap > ul {
  padding-right: 14px;
}

.TaskInnerPage .left-wrap .message_wrap > ul li {
  list-style: none;
  margin-bottom: 24px;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .img_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .img_name > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .img_name .img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  height: 36px;
  margin-right: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .img_name .img span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #1371DC;
  font-size: 14px;
  background: #AED1FA;
  line-height: normal;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .img_name .name {
  font-size: 14px;
  color: #404144;
  font-weight: 600;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .img_name .date span {
  font-size: 12px;
  color: #A7A8AA;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .img_name .date .toolsDropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .img_name .date .toolsDropDown span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5px;
          flex: 0 0 5px;
  height: 5px;
  margin-left: 2px;
  background: #C5C6C7;
  border-radius: 50%;
  display: block;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .text {
  padding-left: 48px;
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #404144;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .text .screenshots {
  margin-top: 8px;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .text .screenshots li {
  width: 200px;
  position: relative;
  margin-right: 12px;
  margin-bottom: 12px;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .text .screenshots li:hover .download_btn {
  display: block;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .text .screenshots li img {
  width: 100%;
}

.TaskInnerPage .left-wrap .message_wrap > ul li .text .screenshots li .download_btn {
  width: 32px;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  display: none;
}

.TaskInnerPage .left-wrap .message_wrap .message_footer > div {
  width: 100%;
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.TaskInnerPage .left-wrap .message_wrap .message_footer > div .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 0;
  margin-right: 12px;
}

.TaskInnerPage .left-wrap .message_wrap .message_footer > div .form-group .img {
  border: radius 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36px;
  flex: 0 0 36px;
  height: 36px;
  margin-right: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.TaskInnerPage .left-wrap .message_wrap .message_footer > div button {
  background: #EF6722;
  border-color: #EF6722;
}

.TaskInnerPage .right-wrap {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 12px rgba(137, 138, 140, 0.1);
          box-shadow: 0px 2px 12px rgba(137, 138, 140, 0.1);
  border-radius: 6px;
}

.TaskInnerPage .right-wrap .top-wrap {
  padding: 24px 24px 28px;
  border-bottom: 1px solid #EBECED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.TaskInnerPage .right-wrap .top-wrap h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #222426;
}

.TaskInnerPage .right-wrap .top-wrap span {
  font-size: 13px;
  line-height: 12px;
  color: #A7A8AA;
}

.TaskInnerPage .right-wrap .item-wrap {
  padding: 30px 24px 24px;
}

.TaskInnerPage .right-wrap .item-wrap .item {
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid #EBECED;
}

.TaskInnerPage .right-wrap .item-wrap .item:first-child {
  padding-top: 0;
}

.TaskInnerPage .right-wrap .item-wrap .item:last-child {
  border: 0;
  padding-bottom: 0;
}

.TaskInnerPage .right-wrap .item-wrap .item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

.TaskInnerPage .right-wrap .item-wrap .item .title img {
  width: 18px;
  margin-right: 10px;
}

.TaskInnerPage .right-wrap .item-wrap .item .title span {
  font-size: 13px;
  color: #A7A8AA;
  font-weight: normal;
}

.TaskInnerPage .right-wrap .item-wrap .item ul {
  margin-top: 24px;
}

.TaskInnerPage .right-wrap .item-wrap .item ul.completed {
  margin-top: 13px;
}

.TaskInnerPage .right-wrap .item-wrap .item ul.completed li {
  color: #898A8C;
}

.TaskInnerPage .right-wrap .item-wrap .item ul.completed li span {
  background: #C5C6C7;
}

.TaskInnerPage .right-wrap .item-wrap .item ul li {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #404144;
  margin-bottom: 18px;
  list-style: none;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.TaskInnerPage .right-wrap .item-wrap .item ul li::after {
  content: "";
  width: 3px;
  height: 100%;
  margin: 4px;
  position: absolute;
  left: -28px;
  top: -4px;
  background: #EF6722;
  opacity: 0;
  visibility: hidden;
}

.TaskInnerPage .right-wrap .item-wrap .item ul li.active::after, .TaskInnerPage .right-wrap .item-wrap .item ul li:hover::after {
  opacity: 1;
  visibility: visible;
}

.TaskInnerPage .right-wrap .item-wrap .item ul li:last-child {
  margin: 0;
}

.TaskInnerPage .right-wrap .item-wrap .item ul li span {
  color: #fff;
  background: #236EE8;
  padding: 3px 6px;
  margin-left: 6px;
  border-radius: 4px;
}

.TaskInnerPage .right-wrap .item-wrap .item .task_title {
  margin-top: 24px;
  font-size: 13px;
  line-height: 12px;
  color: #898A8C;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000008;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(34, 36, 38, 0.7);
  display: none;
}

.popup .dialog {
  width: calc(100% - 32px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 600px;
  margin: 48px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (96px));
}

.popup .form-box {
  width: 100%;
  position: relative;
  background: #fff;
  z-index: 1;
  padding: 24px 24px 0;
  -webkit-box-shadow: 0px 2px 12px rgba(137, 138, 140, 0.1);
          box-shadow: 0px 2px 12px rgba(137, 138, 140, 0.1);
  border-radius: 6px;
  overflow: hidden;
}

.popup .form-box > .close-popup {
  width: 32px;
  height: auto;
  right: 8px;
  left: auto;
  top: 8px;
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  color: white;
}

.popup .form-box .top_wrap {
  border-bottom: 1px solid #EBECED;
  width: calc( 100% + 48px);
  margin-left: -24px;
  padding: 0 24px 24px;
}

.popup .form-box .top_wrap h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #222426;
  margin-bottom: 12px;
}

.popup .form-box .top_wrap .client_info .user_info {
  font-size: 14px;
}

.popup .form-box .form-box-wrap {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.popup .form-box .form-box-wrap ::-webkit-scrollbar {
  width: 6px;
}

.popup .form-box .form-box-wrap ::-webkit-scrollbar-track {
  background: #fff;
}

.popup .form-box .form-box-wrap ::-webkit-scrollbar-thumb {
  background: #dcdcdd;
  border-radius: 3px;
}

.popup .form-box .form-box-wrap ::-webkit-scrollbar-thumb:hover {
  background: #aeaeae;
}

.popup .form-box .form-box-wrap .notes-wrap {
  margin-top: 12px;
  max-height: 360px;
  overflow: auto;
  width: calc( 100% + 16px);
  padding-right: 12px;
}

.popup .form-box .form-box-wrap .notes-wrap .text {
  -webkit-line-clamp: inherit;
}

.popup .form-box .pop_add_note {
  width: calc( 100% + 48px);
  margin-left: -24px;
  padding: 24px 24px 16px 24px;
  background: #F5F6F7;
}

.popup .form-box .pop_add_note .add_note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup .form-box .pop_add_note .img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.popup .form-box .pop_add_note .input-wrap {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D9DADB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.popup .form-box .pop_add_note .input-wrap input {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  padding: 6px 36px 6px 12px;
  font-size: 14px;
  border: 0;
  outline: none;
}

.popup .form-box .pop_add_note .input-wrap .add {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.popup .form-box .pop_add_note .input-wrap .add img {
  width: 18px;
}

.popup .form-box .pop_add_note .btn-wrap {
  margin-top: 8px;
  padding-left: 48px;
}

.popup .form-box .pop_add_note .btn-wrap .btn {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #898a8c;
  background: #f5f6f7;
  border-radius: 14px;
}

.popup .close-popup {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modal#addToDosModal .form-group label {
  font-size: 14px;
  color: #404144;
  line-height: 14px;
  font-weight: 600;
}

.modal#addToDosModal .modal-header {
  padding: 26px 24px;
  border-bottom: 1px solid #F5F6F7;
}

.modal#addToDosModal .modal-header .close span {
  font-size: 34px;
  color: #999999;
}

.modal#addToDosModal .modal-header .modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #222426;
}

.modal#addToDosModal .modal-header p {
  margin-top: 6px;
  font-size: 14px;
  line-height: 14px;
  color: #898A8C;
}

.modal#addToDosModal .modal-body {
  padding: 24px;
  padding-bottom: 0;
}

.modal#addToDosModal .modal-body h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: #222426;
}

.modal#addToDosModal .modal-body h4 {
  font-size: 13px;
  line-height: 12px;
  color: #898A8C;
}

.modal#addToDosModal .modal-body .task-list {
  margin-top: 12px;
  margin-bottom: 20px;
}

.modal#addToDosModal .modal-body .task-list.task-completed {
  margin-top: 10px;
}

.modal#addToDosModal .modal-body .task-list.task-completed li > span {
  color: #898A8C;
}

.modal#addToDosModal .modal-body .task-list.task-completed li > span span {
  background: #C5C6C7;
}

.modal#addToDosModal .modal-body .task-list li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0;
}

.modal#addToDosModal .modal-body .task-list li.add_task {
  display: block;
}

.modal#addToDosModal .modal-body .task-list li.add_task > button {
  margin-top: 0px;
  border: 0;
  background: transparent;
  padding: 0;
  display: inline-block;
  font-size: 22px;
  outline: none;
  color: #EF6722;
}

.modal#addToDosModal .modal-body .task-list li.add_task > button > span {
  font-size: 14px;
  color: #EF6722;
  font-weight: normal;
  vertical-align: middle;
}

.modal#addToDosModal .modal-body .task-list li.add_task .new_task {
  background: #F5F6F7;
  border-radius: 4px;
  padding: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.modal#addToDosModal .modal-body .task-list li.add_task .new_task.active {
  padding: 12px;
  opacity: 1;
  height: auto;
  visibility: visible;
}

.modal#addToDosModal .modal-body .task-list li.add_task .new_task .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  margin-bottom: 0;
  margin-right: 12px;
}

.modal#addToDosModal .modal-body .task-list li.add_task .new_task .form-group.task_title {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.modal#addToDosModal .modal-body .task-list li.add_task .new_task .form-group > i {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  color: #ef6722;
}

.modal#addToDosModal .modal-body .task-list li.add_task .new_task .form-group input {
  font-weight: 500;
  font-size: 14px;
  color: #222426;
}

.modal#addToDosModal .modal-body .task-list li.add_task .new_task .form-group input#dueDate {
  padding-left: 32px;
}

.modal#addToDosModal .modal-body .task-list li.add_task .new_task button {
  color: #fff;
  background: #EF6722;
  border-color: #EF6722;
}

.modal#addToDosModal .modal-body .task-list li.add_task .new_task .closeAddTask {
  margin-left: 16px;
  cursor: pointer;
}

.modal#addToDosModal .modal-body .task-list li.add_task .new_task .closeAddTask span {
  font-size: 34px;
  color: #999999;
}

.modal#addToDosModal .modal-body .task-list li .checkbox {
  margin-left: 0px;
  margin-right: 10px;
}

.modal#addToDosModal .modal-body .task-list li .checkbox input[type="checkbox"] + .label-text:before {
  width: 20px;
  height: 20px;
}

.modal#addToDosModal .modal-body .task-list li > span {
  font-size: 14px;
  color: #404144;
  font-weight: 600;
}

.modal#addToDosModal .modal-body .task-list li > span:hover {
  color: #EF6722;
  cursor: pointer;
}

.modal#addToDosModal .modal-body .task-list li > span span {
  color: #fff;
  background: #236EE8;
  padding: 3px 6px;
  margin-left: 6px;
  border-radius: 4px;
}

.modal#addToDosModal .modal-footer {
  padding: 24px;
  padding-top: 0;
  border: 0;
}

.modal#addToDosModal .modal-footer > div {
  width: 100%;
  padding-top: 12px;
  border-top: solid 1px #EBECED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.modal#addToDosModal .modal-footer > div .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 0;
  margin-right: 12px;
}

.modal#addToDosModal .modal-footer > div button {
  background: #EF6722;
  border-color: #EF6722;
}

.df-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.df-title .back_ToDosAddTask {
  color: #ef6722;
  font-size: 18px;
  padding: 0 10px;
  margin-right: 14px;
  cursor: pointer;
  display: none;
}

.df-title p {
  width: 100%;
}

.ToDosComments {
  display: none;
}

.ToDosComments .modal-body {
  padding: 0 !important;
}

.ToDosComments .modal-body .top_wrap {
  background: #F5F6F7;
  padding: 24px;
}

.ToDosComments .modal-body .top_wrap h1 {
  font-size: 16px;
  color: #222426;
}

.ToDosComments .modal-body .top_wrap .date_comments {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ToDosComments .modal-body .top_wrap .date_comments .date {
  font-size: 14px;
  color: #404144;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ToDosComments .modal-body .top_wrap .date_comments .date img {
  margin-right: 10px;
}

.ToDosComments .modal-body .top_wrap .date_comments .comments {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  color: #404144;
}

.ToDosComments .modal-body .top_wrap .date_comments .comments span {
  color: #fff;
  background: #236EE8;
  padding: 3px 6px;
  margin-left: 6px;
  border-radius: 4px;
}

.ToDosComments .modal-body .top_wrap .date_comments .added_by {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 13px;
  color: #6B6C6F;
}

.ToDosComments .modal-body .message_wrap {
  padding: 16px 10px 16px 24px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.ToDosComments .modal-body .message_wrap ::-webkit-scrollbar {
  width: 6px;
}

.ToDosComments .modal-body .message_wrap ::-webkit-scrollbar-track {
  background: #fff;
}

.ToDosComments .modal-body .message_wrap ::-webkit-scrollbar-thumb {
  background: #dcdcdd;
  border-radius: 3px;
}

.ToDosComments .modal-body .message_wrap ::-webkit-scrollbar-thumb:hover {
  background: #aeaeae;
}

.ToDosComments .modal-body .message_wrap > ul {
  padding-right: 14px;
  height: 360px;
  overflow-y: auto;
}

.ToDosComments .modal-body .message_wrap > ul li {
  list-style: none;
  margin-bottom: 24px;
}

.ToDosComments .modal-body .message_wrap > ul li .img_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ToDosComments .modal-body .message_wrap > ul li .img_name > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ToDosComments .modal-body .message_wrap > ul li .img_name .img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  height: 36px;
  margin-right: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.ToDosComments .modal-body .message_wrap > ul li .img_name .img span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #1371DC;
  font-size: 14px;
  background: #AED1FA;
  line-height: normal;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ToDosComments .modal-body .message_wrap > ul li .img_name .name {
  font-size: 14px;
  color: #404144;
  font-weight: 600;
}

.ToDosComments .modal-body .message_wrap > ul li .img_name .date span {
  font-size: 12px;
  color: #A7A8AA;
}

.ToDosComments .modal-body .message_wrap > ul li .img_name .date .toolsDropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
}

.ToDosComments .modal-body .message_wrap > ul li .img_name .date .toolsDropDown span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5px;
          flex: 0 0 5px;
  height: 5px;
  margin-left: 2px;
  background: #C5C6C7;
  border-radius: 50%;
  display: block;
}

.ToDosComments .modal-body .message_wrap > ul li .text {
  padding-left: 48px;
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #404144;
}

.ToDosComments .modal-body .message_wrap > ul li .text .screenshots {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ToDosComments .modal-body .message_wrap > ul li .text .screenshots li {
  width: 200px;
  position: relative;
  margin-right: 12px;
  margin-bottom: 12px;
}

.ToDosComments .modal-body .message_wrap > ul li .text .screenshots li:hover .download_btn {
  display: block;
}

.ToDosComments .modal-body .message_wrap > ul li .text .screenshots li img {
  width: 100%;
}

.ToDosComments .modal-body .message_wrap > ul li .text .screenshots li .download_btn {
  width: 32px;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  display: none;
}

.ToDosComments .modal-footer {
  background: #F5F6F7;
  border-radius: 0px 0px 6px 6px;
}

.ToDosComments .modal-footer .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0 !important;
}

.ToDosComments .modal-footer .form-group .img {
  border: radius 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  height: 36px;
  margin-right: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.select2-container--default .select2-results__group {
  padding: 6px 14px 0;
  font-weight: 600;
  font-size: 12px;
  color: #6B6C6F;
}

.select2-results__options .select2-results__option {
  border-bottom: solid 1px #EBECED;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option .select2-results__option {
  font-weight: 500;
  font-size: 13px;
  color: #222426;
  background: transparent;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: transparent;
  color: #ef6722;
}

.select2-container--open .select2-dropdown--below {
  border: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 24px rgba(107, 108, 111, 0.16), 0px 0px 2px rgba(107, 108, 111, 0.24);
          box-shadow: 0px 6px 24px rgba(107, 108, 111, 0.16), 0px 0px 2px rgba(107, 108, 111, 0.24);
  border-radius: 4px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

.select2-dropdown.select2-dropdown--below {
  margin-top: 4px;
}
/*# sourceMappingURL=main.css.map */