@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
.purple {
  background: #9E85E2; }

.green {
  background: #55C860; }

.blue {
  background: #77C8DF; }

.yellow {
  background: #FDB900; }

.silver {
  background: #EBECED;
  color: #898A8C !important; }

.red_color {
  color: #C35571; }

.purple_color {
  color: #9E85E2; }

.green_color {
  color: #55C860; }

.blue_color {
  color: #77C8DF; }

.yellow_color {
  color: #FDB900; }

.silver_color {
  color: #898A8C !important; }

html {
  height: 100%; }

body,
html {
  background: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  position: relative;
  font-family: 'Open Sans', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222d43;
  padding: 0;
  margin: 0; }

p,
blockquote,
pre,
span,
strong,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  color: #333;
  padding: 0;
  margin: 0; }

img {
  -webkit-user-drag: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

strong {
  font-weight: bold; }

button {
  outline: none; }

input,
select {
  color: #999999; }

a {
  color: #222d43;
  cursor: pointer;
  text-decoration: none; }

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.vh-centered {
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute; }

.v-centered {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute; }

.h-centered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute; }

.clearfix:after {
  content: ' ';
  display: block;
  clear: both; }

.eff01 {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease; }

.eff02 {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.eff03 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.eff04 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.eff05 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.eff06 {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.eff07 {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease; }

.eff08 {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.eff0 {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease; }

.eff1 {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

.inner-wrap {
  position: relative;
  max-width: 1200px;
  width: -webkit-calc( 100% - 32px );
  width: -moz-calc( 100% - 32px );
  width: calc( 100% - 32px );
  margin: 0 auto; }

.col-25 {
  float: left;
  width: -webkit-calc( 25% - 12px );
  width: -moz-calc( 25% - 12px );
  width: calc( 25% - 12px );
  margin-right: 16px;
  margin-bottom: 16px; }
  .col-25:nth-child(4n+4) {
    margin-right: 0 !important; }

.col-30 {
  float: left;
  width: -webkit-calc( 33.3% - 16px );
  width: -moz-calc( 33.3% - 16px );
  width: calc( 33.3% - 16px );
  margin-right: 24px; }
  .col-30:nth-child(3n+3) {
    margin-right: 0 !important; }

.col-50 {
  float: left;
  width: -webkit-calc( 50% - 8px );
  width: -moz-calc( 50% - 8px );
  width: calc( 50% - 8px );
  margin-right: 16px;
  margin-bottom: 8px; }
  .col-50:nth-child(2n+2) {
    margin-right: 0 !important; }

.col-60 {
  float: left;
  width: -webkit-calc( 60% - 32px );
  width: -moz-calc( 60% - 32px );
  width: calc( 60% - 32px );
  margin-right: 32px !important; }

.col-40 {
  float: left;
  width: -webkit-calc( 40% - 0px );
  width: -moz-calc( 40% - 0px );
  width: calc( 40% - 0px ); }

.col-75 {
  float: left;
  width: -webkit-calc( 75% - 8px );
  width: -moz-calc( 75% - 8px );
  width: calc( 75% - 8px ); }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.hidden-b {
  overflow: hidden; }

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000009; }
  .loading-overlay .loading-icon-wrap {
    width: 200px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFF; }
    .loading-overlay .loading-icon-wrap img {
      width: 100%; }

.newNav {
  position: relative;
  height: 72px;
  background: #ef6722;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .newNav .logo img {
    width: 150px; }
  .newNav .hide_menu {
    margin-left: 32px;
    cursor: pointer; }
  .newNav .menu {
    padding-right: 32px; }
    .newNav .menu ul {
      display: flex; }
      .newNav .menu ul li {
        position: relative;
        list-style: none;
        margin: 0 18px;
        cursor: pointer; }
        .newNav .menu ul li img {
          opacity: 0.7; }
        .newNav .menu ul li:last-child {
          margin: 0;
          padding-left: 18px; }
        .newNav .menu ul li.logoutDropDown {
          border-left: solid 1px #fff;
          opacity: 0.7; }
        .newNav .menu ul li span {
          position: absolute;
          top: -6px;
          right: -8px;
          width: 6px;
          height: 6px;
          background: white;
          border-radius: 50%;
          opacity: 0.7; }

.sidebar {
  transition: all .8s;
  width: 250px;
  padding-top: 45px; }

.newSidebar li {
  width: 100%; }
  .newSidebar li a {
    display: block;
    font-size: 13px;
    text-decoration: none;
    line-height: 14px;
    color: #6B6C6F;
    padding: 12px 0 12px 20px;
    transition: all .2s;
    border-left: 5px solid transparent; }
    .newSidebar li a.active, .newSidebar li a:hover {
      background: #F9EDE7;
      border-left: 5px solid #ef6722; }
      .newSidebar li a.active svg path, .newSidebar li a:hover svg path {
        fill: #ef6722; }
    .newSidebar li a svg {
      width: 24px;
      margin-right: 14px; }

.hire-dashboard {
  padding: 36px 32px;
  background-color: #f5f6f7;
  width: 100%; }
  .hire-dashboard h1.title {
    font-size: 28px;
    line-height: 28px;
    color: #222426; }
  .hire-dashboard .users-img {
    display: flex; }
    .hire-dashboard .users-img .img {
      width: 24px;
      height: 24px;
      margin-right: 6px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      .hire-dashboard .users-img .img.plus {
        background: #EBECED;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .hire-dashboard .users-img .img.plus img {
          width: 10px; }
      .hire-dashboard .users-img .img > span {
        background: #fadbae;
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        color: #dc8c13;
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase; }
  .hire-dashboard button {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 9px;
    padding: 6px;
    margin-right: 6px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    border: 0; }
    .hire-dashboard button img {
      margin-right: 2px;
      width: 10px; }
    .hire-dashboard button:hover {
      color: #fff; }
  .hire-dashboard .filters {
    margin-top: 16px;
    display: flex;
    justify-content: space-between; }
    .hire-dashboard .filters .btn {
      background: #FFFFFF;
      color: #404144;
      margin-right: 12px;
      box-shadow: 0px 0px 2px rgba(137, 138, 140, 0.2);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      padding: 12px;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 12px; }
      .hire-dashboard .filters .btn.clear {
        box-shadow: inherit;
        background: transparent;
        color: #A7A8AA; }
      .hire-dashboard .filters .btn img {
        width: 12px;
        margin-right: 8px; }
    .hire-dashboard .filters .search .input-wrap {
      background: #fff;
      border: 1px solid #D9DADB;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      position: relative; }
      .hire-dashboard .filters .search .input-wrap img {
        width: 15px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 10px; }
      .hire-dashboard .filters .search .input-wrap input {
        width: 100%;
        background: transparent;
        padding: 12px 12px 12px 36px;
        outline: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        border: 0; }
  .hire-dashboard .filters_results {
    margin: 12px 0 18px;
    display: flex;
    align-items: center; }
    .hire-dashboard .filters_results .items {
      display: flex;
      margin-left: 8px;
      align-items: center; }
      .hire-dashboard .filters_results .items button {
        padding: 6px 20px 6px 6px; }
        .hire-dashboard .filters_results .items button span {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
          top: 0;
          width: 14px;
          height: 100%; }
          .hire-dashboard .filters_results .items button span img {
            width: 8px; }
        .hire-dashboard .filters_results .items button.purple span {
          background: #917ad0; }
        .hire-dashboard .filters_results .items button.blue span {
          background: #6db8cd; }
        .hire-dashboard .filters_results .items button.green span {
          background: #4eb858; }

.admin-hire {
  font-size: 12px; }
  .admin-hire .hire-data {
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(137, 138, 140, 0.2);
    border-radius: 6px;
    display: flex;
    margin-top: 12px; }
    .admin-hire .hire-data .row {
      padding: 6px 0; }
      .admin-hire .hire-data .row .requirement h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px; }
    .admin-hire .hire-data .left-wrap {
      flex: 2;
      padding: 16px;
      border-right: solid 1px #EBECED; }
      .admin-hire .hire-data .left-wrap .block {
        border-bottom: 1px solid #EBECED;
        padding-bottom: 6px; }
        .admin-hire .hire-data .left-wrap .block:last-child {
          border: 0;
          padding: 0; }
    .admin-hire .hire-data .right-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      padding: 12px 16px; }
      .admin-hire .hire-data .right-wrap .not_info > .title {
        display: flex;
        justify-content: space-between; }
        .admin-hire .hire-data .right-wrap .not_info > .title h1 {
          font-weight: 600;
          font-size: 12px;
          line-height: 12px;
          color: #222426; }
        .admin-hire .hire-data .right-wrap .not_info > .title .view a {
          font-weight: 500;
          font-size: 12px;
          line-height: 12px;
          text-decoration-line: underline;
          color: #EF6722; }
      .admin-hire .hire-data .right-wrap .notes {
        margin-top: 16px; }
        .admin-hire .hire-data .right-wrap .notes .title {
          display: flex;
          justify-content: space-between; }
          .admin-hire .hire-data .right-wrap .notes .title .name_date {
            display: flex; }
            .admin-hire .hire-data .right-wrap .notes .title .name_date .name {
              font-weight: 600;
              font-size: 11px;
              line-height: 11px;
              margin-right: 6px; }
            .admin-hire .hire-data .right-wrap .notes .title .name_date .date {
              font-weight: 600;
              font-size: 11px;
              line-height: 11px;
              color: #A7A8AA; }
          .admin-hire .hire-data .right-wrap .notes .title .important {
            display: flex; }
            .admin-hire .hire-data .right-wrap .notes .title .important span {
              margin-right: 6px;
              font-weight: 500;
              font-size: 11px;
              line-height: 11px;
              color: #A7A8AA; }
            .admin-hire .hire-data .right-wrap .notes .title .important h1 {
              font-weight: 600;
              font-size: 11px;
              line-height: 11px;
              text-transform: uppercase;
              color: #DC3532; }
        .admin-hire .hire-data .right-wrap .notes .text {
          margin-top: 6px;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          color: #222426;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden; }
    .admin-hire .hire-data .add_note {
      width: -webkit-calc( 100% + 32px );
      width: -moz-calc( 100% + 32px );
      width: calc( 100% + 32px );
      margin-left: -16px;
      margin-top: 20px;
      border-top: solid 1px #EBECED; }
      .admin-hire .hire-data .add_note .input-wrap input {
        padding: 10px 16px;
        border: 0;
        width: 100%;
        outline: none;
        font-weight: 500;
        font-size: 12px;
        color: #A7A8AA; }
      .admin-hire .hire-data .add_note .add_wrap {
        display: flex;
        justify-content: space-between;
        padding: 12px 12px 0; }
        .admin-hire .hire-data .add_note .add_wrap .btn {
          font-weight: 500;
          font-size: 11px;
          line-height: 11px;
          color: #898A8C;
          background: #F5F6F7;
          border-radius: 10px; }
        .admin-hire .hire-data .add_note .add_wrap .add {
          cursor: pointer; }
          .admin-hire .hire-data .add_note .add_wrap .add img {
            width: 18px; }
  .admin-hire .user_info.activity {
    align-items: center; }
    .admin-hire .user_info.activity span {
      margin: 0;
      display: block; }
    .admin-hire .user_info.activity .img {
      margin-right: 10px; }
      .admin-hire .user_info.activity .img img {
        max-width: 16px; }
    .admin-hire .user_info.activity .users-img {
      margin-top: 8px; }
      .admin-hire .user_info.activity .users-img .img {
        margin-right: 6px; }
  .admin-hire .user_info.to-dos .text-secondary {
    margin-bottom: 8px; }
  .admin-hire .user_info.to-dos strong {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .admin-hire .user_info > .text-secondary {
    color: #898A8C !important;
    margin-right: 4px; }
  .admin-hire .user_info strong.pending {
    color: #F9AC12; }
    .admin-hire .user_info strong.pending:before {
      content: "";
      display: inline-block;
      margin-right: 4px;
      width: 8px;
      height: 8px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background-color: #F9AC12; }
  .admin-hire .user_info strong.active {
    color: #6CC93E; }
    .admin-hire .user_info strong.active:before {
      content: "";
      display: inline-block;
      margin-right: 4px;
      width: 8px;
      height: 8px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background-color: #6CC93E; }
  .admin-hire .user_info .icons {
    display: flex;
    justify-content: flex-end; }
    .admin-hire .user_info .icons > div {
      margin-left: 20px; }
      .admin-hire .user_info .icons > div img {
        cursor: pointer; }
    .admin-hire .user_info .icons a {
      display: block;
      padding-top: 12px;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      text-decoration-line: underline;
      color: #EF6722; }
      .admin-hire .user_info .icons a img {
        width: 8px;
        margin-right: 4px; }

/*# sourceMappingURL=main.css.map */
